

.border {
    background-color: #fdfdfd;
    margin: 10px auto;
    padding: 20px;
    border: #9f9d9d solid ;
    display: grid;
    justify-content: center;
    width: 450px;


}

.borderTodo {

    display: grid;
    justify-content: start;
    list-style: none;
    gap: 0.5rem;



}

.footer {
    display: inline-block;

    text-align: center;

}



